header {
	background-color: #040404;
	color: white;
	height: 80px;
	width: 88%;
	position: fixed;
	top: 0;
	z-index: 5;
}

.header-content {
	color: white;
	float: right;
	margin-top: 10px;
	margin-right: 5%;
}
